doctype html
html(ng-app)
  head
    title= title
    link(rel='stylesheet', href='/css/build/main.css')
  body
    block content
    <input type="text" ng-model="query">
    {{query}}
    div(ng-view)
  script(src="/js/build/production.min.js")
  script(src="/js/angular/angular.min.js")
  script(src="/js/angular/angular-route.min.js")